<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samehness.carremote">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/car_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="com.samehness.carremote.Settings"></activity>
        <activity
            android:name="com.samehness.carremote.Location"
            android:label="Location"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.samehness.carremote.ControlPanel"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.samehness.carremote.BluetoothConnection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>